# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
resolver = "2"

members = ["packages/*"]
exclude = ["packages/rust-lexicase"]

[workspace.package]
version = "0.1.0"
authors = ["Nic McPhee", "Many cool people on Twitch"]
description = "An evolutionary computation system in Rust"
documentation = "https://github.com/NicMcPhee/rust-ga"
edition = "2021"

[profile.release]
debug = true

[workspace.dependencies]
anyhow = "1.0.80"
clap = "4.5.1"
rand = "0.9.0-alpha.1"
num-traits = "0.2.18"
thiserror = "1.0.57"
itertools = "0.12.1"
macro_railroad_annotation = "1.0.3"

ec-core = { path = "packages/ec-core" }
ec-linear = { path = "packages/ec-linear" }
push = { path = "packages/push" }
push_macros = { path = "packages/push-macros" }


[workspace.lints.clippy]
pedantic = "warn"
nursery = "warn"
unwrap_used = "warn"
expect_used = "warn"
module_name_repetitions = "allow"
as_conversions = "deny"


[workspace.metadata.example_runner]
default = [
  { template = "balanced" },
  { template = "big_population" },
  { template = "many_generations" }
]

[workspace.metadata.example_runner.templates]
balanced.arguments = [
  "--num-generations",
  "10",
  "--population-size",
  "200"
]
big_population.arguments = [
  "--num-generations",
  "1",
  "--population-size",
  "2000"
]
many_generations.arguments = [
  "--num-generations",
  "200",
  "--population-size",
  "10"
]
