[package]
name = "rust_ga"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.2.22", features = ["derive"] }
rand = "0.8.5"
rayon = "1.5.3"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "construction_benchmark"
harness = false
