[package]
name = "ec-linear"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
readme = "README.md"
repository = { workspace = true }
license = { workspace = true }
keywords = [
  "evolutionary-computation",
  "framework",
  "genetic",
  "genetic-algorithm",
  "linear-evolution"
]
categories = ["algorithms", "science"]
publish = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bench]]
harness = false
name = "n_point_xo"

[dependencies]
ec-core = { workspace = true }
miette = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true, features = ["alloc"] }
static_assertions = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
clap = { workspace = true, features = ["derive"] }
divan = "0.1.21"
miette = { workspace = true, features = ["fancy"] }
test-case = { workspace = true }

[lints]
workspace = true
