[package]
name = "ec-linear"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = ["science", "algorithms"]
keywords = ["evolutionary-computation", "genetic", "genetic-algorithm", "framework", "linear-evolution"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true, features = ["alloc"] }

ec-core = { workspace = true }

[dev-dependencies]
clap = { workspace = true, features = ["derive"] }

[lints]
workspace = true
