[package]
name = "ec-core"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
readme = "README.md"
repository = { workspace = true }
license = { workspace = true }
keywords = [
  "evolutionary-computation",
  "framework",
  "genetic",
  "genetic-algorithm",
  "machine-learning",
]
categories = ["algorithms", "science"]
publish = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bench]]
harness = false
name = "test_results"

[dependencies]
ec_macros = { workspace = true }
itertools = { workspace = true }
macro_railroad_annotation = { workspace = true }
miette = { workspace = true }
num-traits = { workspace = true }
polonius-the-crab = { workspace = true }
rand = { workspace = true, features = ["alloc"] }
rayon = "1.11.0"
static_assertions = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
ec-linear = { path = "../ec-linear" }
miette = { workspace = true, features = ["fancy"] }
proptest = { workspace = true }
rand = { workspace = true, features = ["alloc", "small_rng"] }
test-strategy = { workspace = true }

[features]
default = ["erased"]
# This enables dyn-compatible versions of dyn-incompatible
# traits in this library.
erased = []

[lints]
workspace = true
