[package]
name = "ec-core"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = ["science", "algorithms"]
keywords = ["evolutionary-computation", "genetic", "genetic-algorithm", "framework", "machine-learning"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
itertools = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true, features = ["alloc"] }
rayon = "1.7.0"
macro_railroad_annotation = { workspace = true }

[dev-dependencies]
rand = { workspace = true, features = ["alloc", "small_rng"] }
criterion = { workspace = true }

[lints]
workspace = true

[[bench]]
name = "test_results"
harness = false
