[package]
name = "ec-core"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
categories = ["science", "algorithms"]
keywords = [
    "evolutionary-computation",
    "genetic",
    "genetic-algorithm",
    "framework",
    "machine-learning",
]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true, features = ["alloc"] }
rayon = "1.11.0"
macro_railroad_annotation = { workspace = true }
thiserror = { workspace = true }
miette = { workspace = true }
polonius-the-crab = { workspace = true }
static_assertions = { workspace = true }
ec_macros = { workspace = true }

[dev-dependencies]
rand = { workspace = true, features = ["alloc", "small_rng"] }
criterion = { workspace = true }
miette = { workspace = true, features = ["fancy"] }
proptest = { workspace = true }
test-strategy = { workspace = true }

[features]
default = ["erased"]
# This enables dyn-compatible versions of dyn-incompatible
# traits in this library.
erased = []

[lints]
workspace = true

[[bench]]
name = "test_results"
harness = false
