[package]
name = "push"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
# Per definition crates.io compilers includes interpreters
categories = ["science", "algorithms", "compilers"]
keywords = ["push-language", "genetic-programming", "interpreter", "pushgp", "programming-language"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = { workspace = true }
rand = { workspace = true , features = ["alloc"] }
thiserror = { workspace = true }
miette = { workspace = true }
static_assertions = { workspace = true }

ec-core = { workspace = true }
ec-linear = { workspace = true }

strum = "0.27.2"
strum_macros = "0.27.2"
embed-doc-image = "0.1.4"
push_macros = { workspace = true, optional = true }
collectable = "0.0.2"
ordered-float = { version = "5.1.0", features = ["proptest"] }
easy-cast = "0.5.2"
macro_railroad_annotation = { workspace = true }
criterion = { workspace = true, features = ["html_reports"] }

[dev-dependencies]
miette = { workspace = true, features = ["fancy"]}
clap = { version = "4.5.1", features = ["derive"] }
proptest = { workspace = true }
test-strategy = { workspace = true }
test-case = { workspace = true }
strsim = "0.11.1"

[features]
default = ["macros"]
macros = ["dep:push_macros"]

[lints]
workspace = true

[[bench]]
name = "regression-evaluation"
harness = false
