[package]
name = "push"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
num-traits = { workspace = true }
rand = { workspace = true , features = ["alloc"] }
thiserror = { workspace = true }

ec-core = { workspace = true }
ec-linear = { workspace = true }

strum = "0.26.1"
strum_macros = "0.26.1"
embed-doc-image = "0.1.4"
push_macros = { workspace = true, optional = true }
collectable = "0.0.2"
ordered-float = { version = "4.1.1", features = ["proptest"] }
easy-cast = "0.5.2"
macro_railroad_annotation = { workspace = true }

[dev-dependencies]
clap = { version = "4.5.1", features = ["derive"] }
proptest = "1.2.0"

[features]
default = ["macros"]
macros = ["dep:push_macros"]

[lints]
workspace = true
