[package]
name = "push"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
readme = "README.md"
repository = { workspace = true }
license = { workspace = true }
keywords = [
  "genetic-programming",
  "interpreter",
  "programming-language",
  "push-language",
  "pushgp"
]
# Per definition crates.io compilers includes interpreters
categories = ["algorithms", "compilers", "science"]
publish = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bench]]
harness = false
name = "regression-evaluation"

[dependencies]
collectable = "0.0.2"
criterion = { workspace = true, features = ["html_reports"] }
easy-cast = "0.5.4"
ec-core = { workspace = true }
ec-linear = { workspace = true }
embed-doc-image = "0.1.4"
macro_railroad_annotation = { workspace = true }
miette = { workspace = true }
num-traits = { workspace = true }
ordered-float = { version = "5.1.0", features = ["proptest"] }
push_macros = { workspace = true, optional = true }
rand = { workspace = true, features = ["alloc"] }
static_assertions = { workspace = true }
strum = "0.28.0"
strum_macros = "0.28.0"
thiserror = { workspace = true }

[dev-dependencies]
clap = { version = "4.5.1", features = ["derive"] }
miette = { workspace = true, features = ["fancy"] }
proptest = { workspace = true }
strsim = "0.11.1"
test-case = { workspace = true }
test-strategy = { workspace = true }

[features]
default = ["macros"]
macros = ["dep:push_macros"]

[lints]
workspace = true
