[package]
name = "push"
version = { workspace = true }
authors = { workspace = true }
description = { workspace = true }
documentation = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.71"
num-traits = "0.2.15"
rand = { version = "0.8.5", features = ["alloc"] }

ec-core = { path = "../ec-core" }
ec-linear = { path = "../ec-linear" }
proptest = "1.2.0"
strum = "0.25.0"
strum_macros = "0.25.1"
thiserror = "1.0.44"
embed-doc-image = "0.1.4"
push_macros = { workspace = true, optional = true }

[features]
default = ["macros"]
macros = ["dep:push_macros"]
